In [ ]:
#installing pandas
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
#checking the version
import pandas as pd
print(pd.__version__)

1.5.3

In [ ]:
#latest versions - upgrading
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Collecting pandas
  Downloading pandas-2.0.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 38.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 19.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.5.3
    Uninstalling pandas-1.5.3:
      Successfully uninstalled pandas-1.5.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==1.5.3, but you have pandas 2.0.3 which is incompatible.
Successfully installed pandas-2.0.3 tzdata-2023.3

In [ ]:
import pandas as pd
print(pd.__version__)

2.0.3

# Pandas - Series:


1.   One-dimensional labeled array that can hold data of any type (integer, float, string, etc.)
2.   It is similar to a NumPy array but with additional features like labeled indexing

In [ ]:
import pandas as pd
# Creating a Series from a list
data = [10, 20, 30, 40, 50]
labels = ['A', 'B', 'C', 'D', 'E']
series = pd.Series(data, index=labels)
series

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [ ]:
# Creating a Series from a dictionary
data_dict = {'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}
series_from_dict = pd.Series(data_dict)
series_from_dict

A    10
B    20
C    30
D    40
E    50
dtype: int64

# Pandas - DataFrame

1.   Two-dimensional labeled data structure, resembling a table with rows and columns
2.   It is the most commonly used Pandas data structure and is suitable for handling real-world data, where each column can have a different data type
3. Provide functionalities like indexing, filtering, and merging.

In [ ]:
#Creating a DataFrame:
import pandas as pd
# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 27],
    'City': ['New York', 'London', 'Paris', 'Sydney']
}
df = pd.DataFrame(data)
df

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Paris
3    David   27    Sydney

# Reading data

In [ ]:
import pandas as pd
# Reading from CSV
df_csv = pd.read_csv('data.csv')

# Reading from Excel
df_excel = pd.read_excel('data.xlsx')

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/Opensourcefordatascience/Data-sets/master/blood_pressure.csv'
df = pd.read_csv(url)
df

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

# Writing data

In [ ]:
import pandas as pd

# Writing to CSV
df.to_csv('datascience.csv', index=False)

# Writing to Excel
df.to_excel('new_data.xlsx', index=False)

# Viewing data

In [ ]:
import pandas as pd

# Display the first few rows of the DataFrame
print(df.head())

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [ ]:
# Display the last few rows of the DataFrame
print(df.tail(20))

     patient     sex agegrp  bp_before  bp_after
100      101  Female    60+        168       178
101      102  Female    60+        142       141
102      103  Female    60+        147       149
103      104  Female    60+        148       148
104      105  Female    60+        162       138
105      106  Female    60+        170       143
106      107  Female    60+        173       167
107      108  Female    60+        151       158
108      109  Female    60+        155       152
109      110  Female    60+        163       154
110      111  Female    60+        183       161
111      112  Female    60+        159       143
112      113  Female    60+        148       159
113      114  Female    60+        151       177
114      115  Female    60+        165       142
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

In [ ]:
# Display summary statistics of the DataFrame
print(df.describe())

          patient   bp_before    bp_after
count  120.000000  120.000000  120.000000
mean    60.500000  156.450000  151.358333
std     34.785054   11.389845   14.177622
min      1.000000  138.000000  125.000000
25%     30.750000  147.000000  140.750000
50%     60.500000  154.500000  149.500000
75%     90.250000  164.000000  161.000000
max    120.000000  185.000000  185.000000

# Indexing, Slicing, and Filtering Data

In [ ]:
import pandas as pd

# Accessing data using column names
column_data = df['column_name']

# Accessing data using multiple columns
subset_df = df[['column_name1', 'column_name2']]

# Accessing data using row index label
row_data = df.loc[3]

# Accessing data using integer position
row_data_pos = df.iloc[3]

# Slicing and Filtering:

In [ ]:
import pandas as pd

# Slicing rows
subset_rows = df[start_row:end_row]

# Filtering data based on a condition
filtered_data = df[df['column_name'] > 30]

# Handling Missing Data

In [ ]:
import pandas as pd

# Checking for missing values
missing_values = df.isnull()

# Dropping rows with missing values
df_cleaned = df.dropna()

# Filling missing values with a specified value
df_filled = df.fillna(value=0)

# Merging, Joining, and Concatenating DataFrames

## Concatenation:

In [ ]:
import pandas as pd

# Concatenating DataFrames vertically
concatenated_df = pd.concat([df1, df2])

# Concatenating DataFrames horizontally
concatenated_df = pd.concat([df1, df2], axis=1)

## Merging and Joining:

In [ ]:
import pandas as pd

# Merging DataFrames based on a common column
merged_df = pd.merge(df1, df2, on='common_column')

# Joining DataFrames based on index
joined_df = df1.join(df2, lsuffix='_left', rsuffix='_right')

# Concepts with Dataset

In [ ]:
# Import Pandas and Load the Dataset:
import pandas as pd

# Load the iris dataset from Pandas' built-in datasets
from sklearn.datasets import load_iris
iris = load_iris()

In [ ]:
# Create a DataFrame
# Create a DataFrame from the iris data
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [ ]:
# Add a new column 'species' containing the target labels (flower species names)
df['species'] = iris.target_names[iris.target]
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [ ]:
# Viewing the Data
# Display the first few rows of the DataFrame
print(df.describe())

       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)
count        150.000000
mean           1.199333
std            0.762238
min            0.100000
25%            0.300000
50%            1.300000
75%            1.800000
max            2.500000

In [ ]:
# Indexing and Slicing:
# Access a specific column
sepal_length = df['sepal length (cm)']
sepal_length

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64

In [ ]:
# Access multiple columns
sepal_and_petal_lengths = df[['sepal length (cm)', 'petal length (cm)']]
sepal_and_petal_lengths

     sepal length (cm)  petal length (cm)
0                  5.1                1.4
1                  4.9                1.4
2                  4.7                1.3
3                  4.6                1.5
4                  5.0                1.4
..                 ...                ...
145                6.7                5.2
146                6.3                5.0
147                6.5                5.2
148                6.2                5.4
149                5.9                5.1

[150 rows x 2 columns]

In [ ]:
# Access a specific row by its index label
row_0 = df.loc[0]
row_0

sepal length (cm)       5.1
sepal width (cm)        3.5
petal length (cm)       1.4
petal width (cm)        0.2
species              setosa
Name: 0, dtype: object

In [ ]:
# Access a specific row by its integer position
row_0_pos = df.iloc[0]
row_0_pos

sepal length (cm)       5.1
sepal width (cm)        3.5
petal length (cm)       1.4
petal width (cm)        0.2
species              setosa
Name: 0, dtype: object

In [ ]:
# Slicing rows
subset_rows = df[10:20]
subset_rows

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
10,5.4,3.7,1.5,0.2,setosa
11,4.8,3.4,1.6,0.2,setosa
12,4.8,3.0,1.4,0.1,setosa
13,4.3,3.0,1.1,0.1,setosa
14,5.8,4.0,1.2,0.2,setosa
15,5.7,4.4,1.5,0.4,setosa
16,5.4,3.9,1.3,0.4,setosa
17,5.1,3.5,1.4,0.3,setosa
18,5.7,3.8,1.7,0.3,setosa
19,5.1,3.8,1.5,0.3,setosa

In [ ]:
# Filter the DataFrame based on a condition
setosa_only = df[df['species'] == 'setosa']
setosa_only

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
5,5.4,3.9,1.7,0.4,setosa
6,4.6,3.4,1.4,0.3,setosa
7,5.0,3.4,1.5,0.2,setosa
8,4.4,2.9,1.4,0.2,setosa
9,4.9,3.1,1.5,0.1,setosa
10,5.4,3.7,1.5,0.2,setosa
11,4.8,3.4,1.6,0.2,setosa
12,4.8,3.0,1.4,0.1,setosa
13,4.3,3.0,1.1,0.1,setosa
14,5.8,4.0,1.2,0.2,setosa
15,5.7,4.4,1.5,0.4,setosa
16,5.4,3.9,1.3,0.4,setosa
17,5.1,3.5,1.4,0.3,setosa
18,5.7,3.8,1.7,0.3,setosa
19,5.1,3.8,1.5,0.3,setosa
20,5.4,3.4,1.7,0.2,setosa
21,5.1,3.7,1.5,0.4,setosa
22,4.6,3.6,1.0,0.2,setosa
23,5.1,3.3,1.7,0.5,setosa
24,4.8,3.4,1.9,0.2,setosa
25,5.0,3.0,1.6,0.2,setosa
26,5.0,3.4,1.6,0.4,setosa
27,5.2,3.5,1.5,0.2,setosa
28,5.2,3.4,1.4,0.2,setosa
29,4.7,3.2,1.6,0.2,setosa
30,4.8,3.1,1.6,0.2,setosa
31,5.4,3.4,1.5,0.4,setosa
32,5.2,4.1,1.5,0.1,setosa
33,5.5,4.2,1.4,0.2,setosa
34,4.9,3.1,1.5,0.2,setosa
35,5.0,3.2,1.2,0.2,setosa
36,5.5,3.5,1.3,0.2,setosa
37,4.9,3.6,1.4,0.1,setosa
38,4.4,3.0,1.3,0.2,setosa
39,5.1,3.4,1.5,0.2,setosa
40,5.0,3.5,1.3,0.3,setosa
41,4.5,2.3,1.3,0.3,setosa
42,4.4,3.2,1.3,0.2,setosa
43,5.0,3.5,1.6,0.6,setosa
44,5.1,3.8,1.9,0.4,setosa
45,4.8,3.0,1.4,0.3,setosa
46,5.1,3.8,1.6,0.2,setosa
47,4.6,3.2,1.4,0.2,setosa
48,5.3,3.7,1.5,0.2,setosa
49,5.0,3.3,1.4,0.2,setosa

In [ ]:
# Filter the DataFrame using multiple conditions
versicolor_long_petals = df[(df['species'] == 'versicolor') & (df['petal length (cm)'] > 4.0)]
versicolor_long_petals

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
50,7.0,3.2,4.7,1.4,versicolor
51,6.4,3.2,4.5,1.5,versicolor
52,6.9,3.1,4.9,1.5,versicolor
54,6.5,2.8,4.6,1.5,versicolor
55,5.7,2.8,4.5,1.3,versicolor
56,6.3,3.3,4.7,1.6,versicolor
58,6.6,2.9,4.6,1.3,versicolor
61,5.9,3.0,4.2,1.5,versicolor
63,6.1,2.9,4.7,1.4,versicolor
65,6.7,3.1,4.4,1.4,versicolor
66,5.6,3.0,4.5,1.5,versicolor
67,5.8,2.7,4.1,1.0,versicolor
68,6.2,2.2,4.5,1.5,versicolor
70,5.9,3.2,4.8,1.8,versicolor
72,6.3,2.5,4.9,1.5,versicolor
73,6.1,2.8,4.7,1.2,versicolor
74,6.4,2.9,4.3,1.3,versicolor
75,6.6,3.0,4.4,1.4,versicolor
76,6.8,2.8,4.8,1.4,versicolor
77,6.7,3.0,5.0,1.7,versicolor
78,6.0,2.9,4.5,1.5,versicolor
83,6.0,2.7,5.1,1.6,versicolor
84,5.4,3.0,4.5,1.5,versicolor
85,6.0,3.4,4.5,1.6,versicolor
86,6.7,3.1,4.7,1.5,versicolor
87,6.3,2.3,4.4,1.3,versicolor
88,5.6,3.0,4.1,1.3,versicolor
90,5.5,2.6,4.4,1.2,versicolor
91,6.1,3.0,4.6,1.4,versicolor
94,5.6,2.7,4.2,1.3,versicolor
95,5.7,3.0,4.2,1.2,versicolor
96,5.7,2.9,4.2,1.3,versicolor
97,6.2,2.9,4.3,1.3,versicolor
99,5.7,2.8,4.1,1.3,versicolor

In [ ]:
# Group the DataFrame by 'species' and calculate the mean of each group
species_grouped = df.groupby('species').mean()
species_grouped

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
species,,,,
setosa,5.006,3.428,1.462,0.246
versicolor,5.936,2.770,4.260,1.326
virginica,6.588,2.974,5.552,2.026

In [ ]:
# Get the mean sepal length for each species
mean_sepal_length = df.groupby('species')['sepal length (cm)'].mean()
mean_sepal_length

species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: sepal length (cm), dtype: float64

In [ ]:
# Create another DataFrame to merge with the original one
additional_data = pd.DataFrame({
    'sepal length (cm)': [5.5, 6.0],
    'sepal width (cm)': [3.0, 3.2],
    'petal length (cm)': [2.0, 2.5],
    'petal width (cm)': [1.0, 1.2],
    'species': ['setosa', 'versicolor']
})

# Concatenate the two DataFrames vertically
merged_df = pd.concat([df, additional_data])
merged_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica
0,5.5,3.0,2.0,1.0,setosa
1,6.0,3.2,2.5,1.2,versicolor

# Missing data - Ex

In [ ]:
import pandas as pd

data = {
    'A': [1, 2, pd.NA, 4, 5],
    'B': [pd.NA, 2, 3, pd.NA, 5],
    'C': [1, 2, 3, 4, 5]
}

df = pd.DataFrame(data)
print(df)

      A     B  C
0     1  <NA>  1
1     2     2  2
2  <NA>     3  3
3     4  <NA>  4
4     5     5  5

In [ ]:
# Checking for missing values
missing_values = df.isnull()
print(missing_values)

       A      B      C
0  False   True  False
1  False  False  False
2   True  False  False
3  False   True  False
4  False  False  False

In [ ]:
# Dropping rows with missing values
df_cleaned = df.dropna()
print(df_cleaned)

   A  B  C
1  2  2  2
4  5  5  5

In [ ]:
# Filling missing values with a specific value (e.g., 0)
df_filled = df.fillna(0)
print(df_filled)

   A  B  C
0  1  0  1
1  2  2  2
2  0  3  3
3  4  0  4
4  5  5  5

In [ ]:
# Filling missing values with the mean of column A
mean_A = df['A'].mean()
df_filled_mean = df.fillna({'A': mean_A})
print(df_filled_mean)

     A     B  C
0  1.0  <NA>  1
1  2.0     2  2
2  3.0     3  3
3  4.0  <NA>  4
4  5.0     5  5

# Data Cleaning and Preprocessing with Pandas

In [ ]:
# Identifying and Handling Duplicates
import pandas as pd

# Create a sample DataFrame with duplicates
data = {
    'ID': [1, 2, 3, 1, 4, 5, 2],
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'David', 'Emma', 'Bob'],
    'Age': [25, 30, 22, 25, 27, 24, 30]
}

df = pd.DataFrame(data)
df

   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   22
3   1    Alice   25
4   4    David   27
5   5     Emma   24
6   2      Bob   30

In [ ]:
# Identify duplicates
duplicates = df.duplicated()
print("Duplicates:\n", duplicates)

Duplicates:
 0    False
1    False
2    False
3     True
4    False
5    False
6     True
dtype: bool

In [ ]:
# Drop duplicates based on all columns
df_cleaned = df.drop_duplicates()
print("\nDataFrame without duplicates:\n", df_cleaned)

DataFrame without duplicates:
    ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   22
4   4    David   27
5   5     Emma   24

In [ ]:
# Drop duplicates based on a specific column (e.g., 'ID')
df_cleaned_by_id = df.drop_duplicates(subset='ID')
print("\nDataFrame without duplicates based on 'ID':\n", df_cleaned_by_id)

DataFrame without duplicates based on 'ID':
    ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   22
4   4    David   27
5   5     Emma   24

In [ ]:
# Dealing with Outliers
import pandas as pd

# Create a sample DataFrame with outliers
data = {
    'Age': [25, 30, 22, 100, 27, 24, 30]
}
df = pd.DataFrame(data)
df

   Age
0   25
1   30
2   22
3  100
4   27
5   24
6   30

In [ ]:
# Calculate the z-scores for each data point in 'Age'
z_scores = (df['Age'] - df['Age'].mean()) / df['Age'].std()
z_scores

0   -0.423431
1   -0.244876
2   -0.530564
3    2.254897
4   -0.352009
5   -0.459142
6   -0.244876
Name: Age, dtype: float64

In [ ]:
# Identify outliers using a threshold (e.g., z-score > 2)
outliers = df[abs(z_scores) > 2]
print("Outliers:\n", outliers)

Outliers:
    Age
3  100

In [ ]:
# Remove outliers by filtering
df_cleaned = df[abs(z_scores) <= 2]
print("\nDataFrame without outliers:\n", df_cleaned)

DataFrame without outliers:
    Age
0   25
1   30
2   22
4   27
5   24
6   30

In [ ]:
# Removing Irrelevant Data and Columns
import pandas as pd

# Create a sample DataFrame with irrelevant data
data = {
    'ID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Age': [25, 30, 22, 27, 24],
    'Country': ['USA', 'UK', 'Canada', 'USA', 'Australia']
}

df = pd.DataFrame(data)
df

   ID     Name  Age    Country
0   1    Alice   25        USA
1   2      Bob   30         UK
2   3  Charlie   22     Canada
3   4    David   27        USA
4   5     Emma   24  Australia

In [ ]:
# Drop a specific column (e.g., 'Country') that is irrelevant
df_cleaned = df.drop(columns='Country')
print("DataFrame without 'Country' column:\n", df_cleaned)

DataFrame without 'Country' column:
    ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   22
3   4    David   27
4   5     Emma   24

In [ ]:
# Drop rows based on a condition (e.g., Age < 25)
df_cleaned = df[df['Age'] >= 25]
print("\nDataFrame without rows where Age < 25:\n", df_cleaned)

DataFrame without rows where Age < 25:
    ID   Name  Age Country
0   1  Alice   25     USA
1   2    Bob   30      UK
3   4  David   27     USA

In [ ]:
# Data Imputation Techniques
import pandas as pd

# Create a sample DataFrame with missing data
data = {
    'ID': [1, 2, 3, pd.NA, 5],
    'Age': [25, pd.NA, 22, 27, 24]
}

df = pd.DataFrame(data)
df

     ID   Age
0     1    25
1     2  <NA>
2     3    22
3  <NA>    27
4     5    24

In [ ]:
# Fill missing values with mean of the column
mean_age = df['Age'].mean()
df_imputed = df.fillna({'Age': mean_age})
print("DataFrame with missing values filled with mean:\n", df_imputed)

DataFrame with missing values filled with mean:
      ID   Age
0     1  25.0
1     2  24.5
2     3  22.0
3  <NA>  27.0
4     5  24.0

In [ ]:
# Forward fill missing values
df_ffill = df.fillna(method='ffill')
print("\nDataFrame with forward-filled missing values:\n", df_ffill)

DataFrame with forward-filled missing values:
    ID  Age
0   1   25
1   2   25
2   3   22
3   3   27
4   5   24

In [ ]:
# Backward fill missing values
df_bfill = df.fillna(method='bfill')
print("\nDataFrame with backward-filled missing values:\n", df_bfill)

DataFrame with backward-filled missing values:
    ID  Age
0   1   25
1   2   22
2   3   22
3   5   27
4   5   24

In [ ]:
# Data Transformation: Applying Functions and Mapping
import pandas as pd

# Create a sample DataFrame
data = {
    'ID': [1, 2, 3, 4, 5],
    'Age': [25, 30, 22, 27, 24]
}

df = pd.DataFrame(data)
df

   ID  Age
0   1   25
1   2   30
2   3   22
3   4   27
4   5   24

In [ ]:
# Apply a function to a column (e.g., add 1 to each Age)
df['Age'] = df['Age'>5].apply(lambda x: x + 10000)
print("DataFrame with Age incremented by 1:\n", df)

DataFrame with Age incremented by 1:
    ID  Age
0   1   26
1   2   31
2   3   23
3   4   28
4   5   25

In [ ]:
# Map values in a column to new values (e.g., replace IDs with names)
id_to_name = {1: 'Alice', 2: 'Bob', 3: 'Charlie', 4: 'David', 5: 'Emma'}
df['Name'] = df['ID'].map(id_to_name)
print("\nDataFrame with 'Name' column mapped from 'ID':\n", df)

DataFrame with 'Name' column mapped from 'ID':
    ID  Age     Name
0   1   26    Alice
1   2   31      Bob
2   3   23  Charlie
3   4   28    David
4   5   25     Emma